.author_div{
    text-align: center;
    padding: 1rem;

}
.author_div div{
    margin-bottom: 1rem;

}
.author_introduction{
    font-size:.8rem;
    color: #999;
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}
.myname{
    font-size: large;
    font-weight: 600;
    margin-bottom: .5rem;
    margin-top: .5rem;
    /* color: blue; */
}
.author_chat{
    font-size:.8rem;
    color: #999;
    position: relative;
}